.title-block {
    height: 56px;
    background-image: linear-gradient(to right, #F8F8F8, #FFF);
    color: $color_2;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__text {
        margin-left: 16px;

        @media (min-width: 768px) {
            margin-left: 24px;
        }

        @media (min-width: 1440px) {
            margin-left: 32px;
        }
    }
}