@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Light.ttf");
}

@font-face {
  font-family: 'TTLakesM';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Medium.ttf");
}

@font-face {
  font-family: "TTLakesB";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Bold.ttf");
}