$color_1: #1b1c21;
$color_2: #7e7e82;
$color_3: #fff;
$color_4: #b5b6bc;
$color_5: #ff3e79;

$background-color_1: #f8f8f8;
$background-color_2: #ff3e79;
$background-color_3: #fff;
$background-color_4: #eaeaea;
$background-color_5: #fff;
$background-color_6: transparent;

$font-family_1: 'TTLakes', 'Arial', sans-serif;
$font-family_2: 'TTLakesB', 'Arial', sans-serif;
$font-family_3: 'TTLakesM';
$font-family_4: 'TTLakesB', 'Arial';
$font-family_5: 'TTLakes', 'Calibri', sans-serif;